@model IEnumerable<QuickRentMyRide.Models.Car>
<h2>Available Cars</h2>
<ul>
    @foreach (var c in Model)
    {
        <li>@c.CarModel - $@c.RentPerDay per day | <a asp-action="Create" asp-route-carID="@c.CarID">Book</a></li>
    }
</ul>
