@{
    ViewBag.Title = "CustomerDashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml"; // Use your customer layout
}

<div class="container mt-5">
    <h2>Welcome, @Context.Session.GetString("Username")!</h2>
    <p>This is your customer dashboard. From here, you can book cars, view your bookings, and manage your profile.</p>
</div>
@* 
<div class="d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="assets/icon/icon1.png" class="card-img-top" alt="icon1">
        <div class="card-body">
            <p class="card-text"> 100% AUTHENTIC</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/icon/icon2.png" class="card-img-top" alt="icon2">
        <div class="card-body">
            <p class="card-text">SECURE SHOPPING</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/icon/icon3.png" class="card-img-top" alt="icon3">
        <div class="card-body">
            <p class="card-text">
        </div>EXPRESS SHIPPING</p>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/icon/icon4.png" class="card-img-top" alt="icon4">
        <div class="card-body">
            <p class="card-text">CUSTOMIZED SERVICES</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/icon/icon5.png" class="card-img-top" alt="icon5">
        <div class="card-body">
            <p class="card-text">BUYERS GUIDE</p>
        </div>
    </div>
</div> *@