@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <br> <span class="text-primary">QUICK RENT MY RIDE</span></h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <img class="w-75 mb-4" src="~/images/about.png" alt="About QuickRentMyRide" />
            <p class="lead">QuickRentMyRide offers affordable and efficient vehicle rental services across Sri Lanka. Whether you're a tourist, a business traveler, or a local resident, our wide range of vehicles is tailored to meet your needs.</p>
        </div>
    </div>
</div>
